<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Admin panel</title>
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-dark bg-dark navbar-expand d-flex" style="width:100%">
            <div class="p-2">
            <span class="text-white font-weight-bold" id="userDetailEmail"></span>
            </div>
            <div class="p-2">
            <span class="text-white"> with roles: </span>
            </div>
                <div id="userDetailRoles" class="p-2">

                </div>
            <div class="ml-auto p-2">
            <ul class="navbar-nav">
                <li class="navbar-item">
                    <a class="nav-link d-flex justify-content-end" href="/logout">Logout</a>
                </li>
            </ul>
            </div>

        </nav>
    </div>
    <div class="row">
        <div class="col-2 pl-0 pr-0 mt-3">
            <nav id="adminNav" class="navbar navbar-dark bg-primary">
                <a class="text-white" href="#" id="adminPanelButton">Admin</a>
            </nav>
            <nav id="userNav" class="navbar navbar-light" style="background-color: white">
                <a href="#" id="userInfoButton">User</a>
            </nav>
        </div>
        <div id="adminPanelDiv" class="col-10 text-dark" style="min-height:1000px;background-color:#e9ecef;">
            <h2 class="mt-3 mb-3">Admin panel</h2>

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a id="userTab" class="nav-link active" data-toggle="tab" href="#allUsers">Users table</a>
                </li>
                <li class="nav-item">
                    <a id="newUserTab" class="nav-link" data-toggle="tab" href="#newUser">New user</a>
                </li>
            </ul>
            <div class="tab-content">
            <div class="tab-pane active container" id="allUsers">
            <h6 class="pt-3 pb-3">All users</h6>
            <table id="userTable" class="table table-hover bg-white">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Email</th>
                    <th scope="col">Username</th>
                    <th scope="col">Roles</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
            </div>
            <div class="tab-pane container" id="newUser">
                <h6 class="pt-3 pb-3">Add new user</h6>
                <div style="background-color: white">
                    <div class="row">
                        <div class="col-4"></div>
                        <div class="col-4">
                <form id="newUserForm">
                    <input class="form-control" type="hidden" id="id"/>
                    <div class="form-group mb-2 text-center">
                            <label for="newUserName" class="col-form-label col-form-label-lg pt-0 pb-0">First name</label>
                            <input class="form-control" type="text"  id="newUserName" />
                    </div>
                    <div class="form-group mb-2 text-center">
                            <label for="newUserSurname" class="col-form-label col-form-label-lg pt-0 pb-0">Last name</label>
                            <input class="form-control" type="text" id="newUserSurname" />
                    </div>
                    <div class="form-group mb-2 text-center">
                            <label for="newUserAge" class="col-form-label col-form-label-lg pt-0 pb-0">Age</label>
                            <input class="form-control" type="text" id="newUserAge" />
                        </div>
                    <div class="form-group mb-2 text-center">
                            <label for="newUserEmail" class="col-form-label col-form-label-lg pt-0 pb-0">Email</label>
                            <input type="text" class="form-control" id="newUserEmail" />
                    </div>
                    <div class="form-group mb-2 text-center">
                            <label for="newUserUsername" class="col-form-label col-form-label-lg pt-0 pb-0">Username</label>
                            <input type="text" class="form-control" id="newUserUsername" />
                    </div>
                    <div class="form-group mb-2 text-center">
                            <label for="newUserPassword" class="col-form-label col-form-label-lg pt-0 pb-0">Password</label>
                            <input type="password" class="form-control" id="newUserPassword" />
                    </div>
                    <div class="form-group mb-2 text-center">
                        <label for="newUserRoles" class="col-form-label col-form-label-lg pt-0 pb-0">Role</label>
                        <select class="form-control" multiple id="newUserRoles">

                        </select>
                    </div>
                    <div class="form-group text-center">
                        <a href="#" id="addNewUserButton" class="btn btn-success">Add new user</a>
                    </div>
                </form>
                        </div>
                        <div class="col-4"></div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div id="userInfoDiv" class="col-10 text-dark" style="display:none;min-height:1000px;background-color:#e9ecef;">
            <h2 class="mt-3 mb-3">User information-page</h2>
            <div class="tab-content">
                <div class="tab-pane active container" id="userDetail">
                    <h6 class="pt-3 pb-3">About user</h6>
                    <table id="userDetailTable" class="table table-hover bg-white">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Age</th>
                            <th scope="col">Email</th>
                            <th scope="col">Username</th>
                            <th scope="col">Roles</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editUserModalTitle">Edit user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="editUserModalForm" method="post" th:action="@{/admin/edit}">
                    <div class="modal-body">
                        <div class="form-group mb-2 text-center">
                            <label for="editUserId" class="col-form-label col-form-label-lg pt-0 pb-0">ID</label>
                            <input class="form-control" type="text" readonly id="editUserId"/>
                        </div>
                        <div class="form-group mb-2 text-center">
                            <label for="editUserName" class="col-form-label col-form-label-lg pt-0 pb-0">First name</label>
                            <input class="form-control" type="text" id="editUserName" />
                        </div>
                        <div class="form-group mb-2 text-center">
                            <label for="editUserSurname" class="col-form-label col-form-label-lg pt-0 pb-0">Last name</label>
                            <input class="form-control" type="text" id="editUserSurname" />
                        </div>
                        <div class="form-group mb-2 text-center">
                            <label for="editUserAge" class="col-form-label col-form-label-lg pt-0 pb-0">Age</label>
                            <input class="form-control" type="text" id="editUserAge" />
                        </div>
                        <div class="form-group mb-2 text-center">
                            <label for="editUserEmail" class="col-form-label col-form-label-lg pt-0 pb-0">Email</label>
                            <input type="text" class="form-control" id="editUserEmail" />
                        </div>
                        <div class="form-group mb-2 text-center">
                            <label for="editUserUsername" class="col-form-label col-form-label-lg pt-0 pb-0">Username</label>
                            <input type="text" class="form-control" id="editUserUsername" />
                        </div>
                        <div class="form-group mb-2 text-center">
                            <label for="editUserPassword" class="col-form-label col-form-label-lg pt-0 pb-0">Password</label>
                            <input type="password" class="form-control" id="editUserPassword" />
                        </div>
                        <div class="form-group mb-2 text-center">
                            <label for="editUserRoles" class="col-form-label col-form-label-lg pt-0 pb-0">Role</label>
                            <select class="form-control" multiple id="editUserRoles" name="roles">

                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <a href="#" class="btn btn-primary" id="editUserModalButton">Edit</a>
                    </div>
            </div>
            </form>

        </div>
    </div>
    <div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteUserModalTitle">Delete user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:method="delete">
                    <div class="modal-body">
                        <div class="form-group mb-2 text-center">
                            <label for="deleteUserId" class="col-form-label col-form-label-lg pt-0 pb-0">ID</label>
                            <input class="form-control" type="text" readonly id="deleteUserId"/>
                        </div>
                        <div class="form-group mb-2 text-center">
                            <label for="deleteUserName" class="col-form-label col-form-label-lg pt-0 pb-0">First name</label>
                            <input class="form-control" type="text" readonly id="deleteUserName" />
                        </div>
                        <div class="form-group mb-2 text-center">
                            <label for="deleteUserSurname" class="col-form-label col-form-label-lg pt-0 pb-0">Last name</label>
                            <input class="form-control" type="text" readonly id="deleteUserSurname" />
                        </div>
                        <div class="form-group mb-2 text-center">
                            <label for="deleteUserAge" class="col-form-label col-form-label-lg pt-0 pb-0">Age</label>
                            <input class="form-control" type="text" readonly id="deleteUserAge" />
                        </div>
                        <div class="form-group mb-2 text-center">
                            <label for="deleteUserEmail" class="col-form-label col-form-label-lg pt-0 pb-0">Email</label>
                            <input type="text" class="form-control" readonly id="deleteUserEmail" />
                        </div>
                        <div class="form-group mb-2 text-center">
                            <label for="deleteUserEmail" class="col-form-label col-form-label-lg pt-0 pb-0">Username</label>
                            <input type="text" class="form-control" readonly id="deleteUserUsername" />
                        </div>
                        <div class="form-group mb-2 text-center">
                            <label for="deleteUserRoles" class="col-form-label col-form-label-lg pt-0 pb-0">Role</label>
                            <select class="form-control" multiple readonly id="deleteUserRoles" name="roles">

                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <a href="#" id="deleteUserModalButton" class="btn btn-primary">Delete</a>
                    </div>
            </div>
            </form>

        </div>
    </div>
    <input type="hidden" id="user_id" th:value="${principal.id}">
</div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="js/frontApi.js"></script>
</body>
</html>