<div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editUserModalTitle">Edit user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="editUserModalForm" method="post" th:action="@{/admin/edit}">
                <div class="modal-body">
                    <div class="form-group mb-2 text-center">
                        <label for="editUserId" class="col-form-label col-form-label-lg pt-0 pb-0">ID</label>
                        <input class="form-control" type="text" readonly id="editUserId"/>
                    </div>
                    <div class="form-group mb-2 text-center">
                        <label for="editUserName" class="col-form-label col-form-label-lg pt-0 pb-0">First name</label>
                        <input class="form-control" type="text" id="editUserName" />
                    </div>
                    <div class="form-group mb-2 text-center">
                        <label for="editUserSurname" class="col-form-label col-form-label-lg pt-0 pb-0">Last name</label>
                        <input class="form-control" type="text" id="editUserSurname" />
                    </div>
                    <div class="form-group mb-2 text-center">
                        <label for="editUserAge" class="col-form-label col-form-label-lg pt-0 pb-0">Age</label>
                        <input class="form-control" type="text" id="editUserAge" />
                    </div>
                    <div class="form-group mb-2 text-center">
                        <label for="editUserEmail" class="col-form-label col-form-label-lg pt-0 pb-0">Email</label>
                        <input type="text" class="form-control" id="editUserEmail" />
                    </div>
                    <div class="form-group mb-2 text-center">
                        <label for="editUserUsername" class="col-form-label col-form-label-lg pt-0 pb-0">Username</label>
                        <input type="text" class="form-control" id="editUserUsername" />
                    </div>
                    <div class="form-group mb-2 text-center">
                        <label for="editUserPassword" class="col-form-label col-form-label-lg pt-0 pb-0">Password</label>
                        <input type="password" class="form-control" id="editUserPassword" />
                    </div>
                    <div class="form-group mb-2 text-center">
                        <label for="editUserRoles" class="col-form-label col-form-label-lg pt-0 pb-0">Role</label>
                        <select class="form-control" multiple id="editUserRoles" name="roles">

                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a href="#" class="btn btn-primary" id="editUserModalButton">Edit</a>
                </div>
        </div>
        </form>

    </div>
</div>
<script src="js/frontApi.js"></script>